.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 56px;
  width: 56px;
  stroke-width: 1.5px;
  color: var(--ifm-color-primary);
  transition: transform 0.3s ease;
}

.featureSvg:hover {
  transform: scale(1.1);
}
